<nav class="navbar navbar-dark" style="background-color: green; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <div class="container-fluid">
      <a class="navbar-brand card" style="background-color: green; padding-left: 15px; padding-right: 15px;" href="{% url 'dashboard-index' %}">  Home  </a>
      <h1 style="text-align: center; color: white;">Your Sport? - Your Sports Advisor</h1>
      <a class="navbar-brand card" href="{% url 'dashboard-prediction' %}" style="background-color: green;  padding-left: 15px; padding-right: 15px;">  Previous History  </a>
    </div>
  </nav>